@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */

:root {
  /* Variables for Javascript */
  --scroll-height: 0px;
  --x: 0px;
  --y: 0px;

  /* Colors */
  --clr-bg-1: #fdf0ff;
  --clr-bg-2: #201537;

  /* Font */
  --ff: 'Gantari', sans-serif;
  --title-size: 8rem;

  /* Animation settings */
  --animation-delay: 400ms;
  --animation-duration: 1500ms;
  --animation-settings: var(--animation-duration) ease-in-out
    var(--animation-delay);
  --slide-animation: left var(--animation-settings);
}

/* global/reset */

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  cursor: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  position: relative;
  font-family: var(--ff);
  overflow-x: hidden;
  background-color: var(--clr-bg-1);
  transition: background-color 500ms ease;
  background-image: url('./assets/noise.png');
  /* background-image: linear-gradient(0deg, #667eea 0%, #764ba2 100%); */
}

a {
  text-decoration: none;
  color: inherit;
}

input[type='radio'] {
  accent-color: var(--clr-bg-2);
}

.cursor-trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-bg-1);
  mix-blend-mode: exclusion;
  pointer-events: none;
  user-select: none;
  z-index: 100;
  transition: width 150ms ease-in-out;
}

/* hero section - 1st/first */

.hero {
  position: relative;
  width: 100vw;
  height: 600px;
  overflow: hidden;
  border-radius: 0 0 50% 50%/0 0 75px 75px;
  box-shadow: 0px 60px 100px rgba(255, 155, 252, 1);
  background-image: linear-gradient(135deg, #3b2667 0%, #bc78ec 100%);
  z-index: 1;
  transition: box-shadow 250ms ease;
}

.hero > div {
  position: absolute;
  font-size: 7rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px white;
  white-space: nowrap;
}

.name-container {
  top: 200px;
  left: 20%;
  animation: float 3s ease-in-out 300ms infinite alternate;
  z-index: 1;
}

.name {
  position: relative;
  transform: translateX(calc(-1 * var(--scroll-height) * 0.3));
}

.title-container {
  top: 300px;
  left: 40%;
  animation: float 3s ease-in-out 0s infinite alternate;
  z-index: 3;
}

.title {
  position: relative;
  transform: translateX(calc(var(--scroll-height) * 0.3));
}

.light1,
.light2 {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #f6ceec 10%, #d939cd 100%);
  filter: blur(100px);
  pointer-events: none;
  mix-blend-mode: screen;
  animation: lightMorph 4s ease-in-out 0s infinite alternate;
}

.light1 {
  width: 600px;
  height: 400px;
  top: -400px;
  left: -200px;
  transform: translateX(calc(-1 * var(--scroll-height) * 0.3));
}

.light2 {
  width: 600px;
  height: 400px;
  top: 100px;
  right: -100px;
  border-radius: 50%;
  transform: translateX(calc(var(--scroll-height) * 0.1));
  /* background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%); */
}

.wave {
  position: absolute;
  font-size: 8rem;
  top: calc(100px + (var(--scroll-height) * 0.4));
  left: 50%;
  text-shadow: 0 0 50px rgb(0, 0, 0);
  transform: translate(calc(var(--x) * 0.03), calc(var(--y) * 0.05)) rotate(0);
  transform-origin: 90% 80%;
  transition: all 30ms ease;
  filter: grayscale(20%);
  z-index: 2;
}

.wave:hover {
  animation: wave 500ms infinite alternate ease-in-out;
}

/* work section - 2nd/second */

.my-work {
  position: relative;
  color: var(--clr-bg-1);
  padding: 10rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  transition: opacity 500ms ease;
}

.my-work-title {
  font-size: var(--title-size);
}

.my-work-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.5rem;
}

.images-container,
.images-container-mobile {
  position: relative;
  transition: var(--slide-animation);
  left: 0px;
}

.images-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 702px;
  height: 495px;
  background-color: #170e22;
  padding: 1rem;
  border-radius: 0.75rem;
  z-index: 3;
}

.project-image-desktop {
  position: relative;
  width: 702px;
  border-radius: 0.5rem;
  z-index: 2;
  left: 0px;
  transition: var(--slide-animation);
}

.project-image-mobile {
  position: relative;
  border-radius: 0.5rem;
  z-index: 3;
  width: 216px;
}

.project-image-mobile-secondary {
  position: absolute;
  bottom: -3rem;
  right: -3rem;
  width: 170px;
  border-radius: 0.5rem;
  z-index: 3;
}

.baytown-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: all var(--animation-settings);
}

.baytown-tilt {
  transform: rotate(-3deg);
  left: -4rem;
  top: -2rem;
}

.discord-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: all var(--animation-settings);
}

.discord-tilt {
  transform: rotate(3deg);
  left: 4rem;
  top: 2rem;
}

.project-image-push {
  left: -400px;
}

.project-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transition: var(--slide-animation);
}

.project-title {
  font-size: 4rem;
  font-weight: 600;
}

.project-text-push {
  left: 400px;
}

.btn-container {
  display: flex;
  gap: 2rem;
}
/* About me - 3rd/third */

.about-me {
  position: relative;
  color: var(--clr-bg-2);
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem 0;
}

.about-me::after {
  content: '';
  background-color: var(--clr-bg-1);
  transform: skewY(3deg);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.about-me-title {
  font-size: var(--title-size);
}

.about-me-intro {
  width: 56ch;
  padding: 1rem 0 2rem 0;
  text-align: left;
  margin: 0 auto;
}

.about-me > label {
  cursor: none;
  font-size: 1rem;
}

.about-me > input {
  cursor: none;
  margin-left: 1rem;
}

/* radio button functionality */

#about-me-tldr,
#about-me-short,
#about-me-medium,
#about-me-long {
  display: none;
}

#radio-tldr:checked ~ #about-me-tldr {
  display: block;
}

#radio-short:checked ~ #about-me-short {
  display: block;
}

#radio-medium:checked ~ #about-me-medium {
  display: block;
}

#radio-long:checked ~ #about-me-long {
  display: block;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem 0;
}

footer > a {
  cursor: none;
  transition: transform 640ms ease;
}

footer > a:hover {
  transform: translateY(-10px);
  transition: transform 220ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

/* buttons/btns */

.btn-primary {
  padding: 0.75rem 3rem;
  background-color: #170e22;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  transition: 100ms all ease-in-out;
  cursor: none;
}

.btn-primary:hover {
  border-radius: 2rem;
  transform: scale(1.13);
}

.btn-secondary {
  padding: 0.75rem 3rem;
  border: 2px solid #170e22;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  transition: 100ms all ease-in-out;
  cursor: none;
}

.btn-secondary:hover {
  transform: scale(1.13);
  border-radius: 2rem;
}

.btn-tertiary {
  /*  */
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes lightMorph {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1500px) {
  :root {
    --title-size: 7rem;
  }

  .name-container {
    left: 10%;
  }
  .title-container {
    left: 30%;
  }

  .my-work-container {
    gap: 3rem;
  }

  .project-title {
    font-size: 3rem;
  }

  .images-container-mobile {
    height: 423px;
    width: 600px;
  }

  .project-image-desktop {
    width: 600px;
  }

  .project-image-mobile {
    width: 185px;
  }

  .project-image-mobile-secondary {
    bottom: -2rem;
    right: -2rem;
    width: 150px;
  }

  .project-image-push {
    left: -350px;
  }
  .baytown-tilt {
    left: -3rem;
  }

  .discord-tilt {
    left: 3rem;
  }

  .project-text {
    font-size: 1.2rem;
  }

  .project-text-push {
    left: 350px;
  }

  .btn-primary,
  .btn-secondary {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1305px) {
  :root {
    --title-size: 6rem;
  }
  .hero {
    border-radius: 0 0 50% 50%/0 0 35px 35px;
  }

  .name-container {
    left: 5%;
  }

  .title-container {
    left: 12%;
  }

  .images-container-mobile {
    height: 352px;
    width: 500px;
  }

  .project-image-desktop {
    width: 500px;
  }

  .project-image-mobile {
    width: 150px;
  }

  .project-image-mobile-secondary {
    width: 130px;
    left: -2rem;
  }

  .project-image-push {
    left: -300px;
  }

  .project-text-push {
    left: 300px;
  }

  .baytown-tilt {
    left: -1rem;
  }

  .discord-tilt {
    left: 1rem;
  }

  .btn-primary,
  .btn-secondary {
    font-size: 1rem;
  }

  .about-me-intro {
    font-size: 1.2rem;
  }

  footer svg {
    width: 40px;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --title-size: 4rem;
  }

  body {
    cursor: inherit;
  }

  .cursor-trail {
    display: none;
  }

  .hero > div {
    font-size: 3rem;
    -webkit-text-stroke: 1.2px white;
  }

  .name-container {
    top: 250px;
  }

  .title-container {
    left: 10%;
  }

  .wave {
    display: none;
    font-size: 4rem;
  }

  .project-image-desktop {
    overflow-x: hidden;
  }

  .project-image-push {
    left: -500px;
  }

  .project-text {
    text-align: center;
    font-size: 1.1rem;
    width: 32ch;
  }

  .project-text-push {
    left: inherit;
  }

  .btn-container {
    gap: 1rem;
  }

  .btn-primary,
  .btn-secondary {
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .about-me-intro {
    font-size: 1rem;
    width: inherit;
    margin: 0 1.5rem;
  }

  .about-me::after {
    transform: skewY(4deg);
  }

  .about-me > label,
  .about-me > input {
    cursor: pointer;
  }

  footer {
    gap: 1.5rem;
  }
}
